:root {
  --prime-sys-unit-0p125rem: 0.125rem;
  --prime-sys-unit-0p15rem: 0.15rem;
  --prime-sys-unit-0p175rem: 0.175rem;
  --prime-sys-unit-0p1875rem: 0.1875rem;
  --prime-sys-unit-0p25rem: 0.25rem;
  --prime-sys-unit-0p3125rem: 0.3125rem;
  --prime-sys-unit-0p35rem: 0.35rem;
  --prime-sys-unit-0p375rem: 0.375rem;
  --prime-sys-unit-0p4rem: 0.4rem;
  --prime-sys-unit-0p45rem: 0.45rem;
  --prime-sys-unit-0p5rem: 0.5rem;
  --prime-sys-unit-0p5625rem: 0.5625rem;
  --prime-sys-unit-0p625rem: 0.625rem;
  --prime-sys-unit-0p69rem: 0.69rem;
  --prime-sys-unit-0p7rem: 0.7rem;
  --prime-sys-unit-0p72rem: 0.72rem;
  --prime-sys-unit-0p75rem: 0.75rem;
  --prime-sys-unit-0p84rem: 0.84rem;
  --prime-sys-unit-0p86rem: 0.86rem;
  --prime-sys-unit-0p875rem: 0.875rem;
  --prime-sys-unit-0p98rem: 0.98rem;
  --prime-sys-unit-1rem: 1rem;
  --prime-sys-unit-1p03rem: 1.03rem;
  --prime-sys-unit-1p125rem: 1.125rem;
  --prime-sys-unit-1p2rem: 1.2rem;
  --prime-sys-unit-1p25rem: 1.25rem;
  --prime-sys-unit-1p32rem: 1.32rem;
  --prime-sys-unit-1p375rem: 1.375rem;
  --prime-sys-unit-1p5rem: 1.5rem;
  --prime-sys-unit-1p65rem: 1.65rem;
  --prime-sys-unit-1p75rem: 1.75rem;
  --prime-sys-unit-1p98rem: 1.98rem;
  --prime-sys-unit-2rem: 2rem;
  --prime-sys-unit-2p25rem: 2.25rem;
  --prime-sys-unit-2p31rem: 2.31rem;
  --prime-sys-unit-2p5rem: 2.5rem;
  --prime-sys-unit-2p75rem: 2.75rem;
  --prime-sys-unit-3rem: 3rem;
  --prime-sys-unit-3p5rem: 3.5rem;
  --prime-sys-unit-3p75rem: 3.75rem;
  --prime-sys-unit-4rem: 4rem;
  --prime-sys-unit-4p5rem: 4.5rem;
  --prime-sys-unit-7rem: 7rem;
  --prime-sys-unit-9p5rem: 9.5rem;
  --prime-sys-unit-10rem: 10rem;
  --prime-sys-unit-11rem: 11rem;
  --prime-sys-unit-12rem: 12rem;
  --prime-sys-unit-12p5rem: 12.5rem;
  --prime-sys-unit-14rem: 14rem;
  --prime-sys-unit-14p5rem: 14.5rem;
  --prime-sys-unit-15rem: 15rem;
  --prime-sys-unit-16rem: 16rem;
  --prime-sys-unit-18rem: 18rem;
  --prime-sys-unit-20rem: 20rem;
  --prime-sys-unit-22rem: 22rem;
  --prime-sys-unit-22p5rem: 22.5rem;
  --prime-sys-unit-24rem: 24rem;
  --prime-sys-unit-24p375rem: 24.375rem;
  --prime-sys-unit-25rem: 25rem;
  --prime-sys-unit-26rem: 26rem;
  --prime-sys-unit-27p375rem: 27.375rem;
  --prime-sys-unit-27p5rem: 27.5rem;
  --prime-sys-unit-28rem: 28rem;
  --prime-sys-unit-30rem: 30rem;
  --prime-sys-unit-32rem: 32rem;
  --prime-sys-unit-34rem: 34rem;
  --prime-sys-unit-39p5rem: 39.5rem;
  --prime-sys-unit-40rem: 40rem;
  --prime-sys-unit-43p75rem: 43.75rem;
  --prime-sys-unit-44rem: 44rem;
  --prime-sys-unit-45rem: 45rem;
  --prime-sys-unit-48rem: 48rem;
  --prime-sys-unit-56rem: 56rem;
  --prime-sys-unit-72rem: 72rem;
  --prime-sys-unit-84rem: 84rem;
  --prime-sys-unit-98rem: 98rem;

  --prime-sys-unit-neg-0p25rem: -0.25rem;
  --prime-sys-unit-neg-0p56rem: -0.56rem;
  --prime-sys-unit-neg-0p7rem: -0.7rem;
  --prime-sys-unit-neg-0p84rem: -0.84rem;
  --prime-sys-unit-neg-0p98rem: -0.98rem;
  --prime-sys-unit-neg-1p12rem: -1.12rem;
  --prime-sys-unit-neg-1p26rem: -1.26rem;
  --prime-sys-unit-neg-1p4rem: -1.4rem;
  --prime-sys-unit-neg-1p54rem: -1.54rem;
  --prime-sys-unit-neg-1p68rem: -1.68rem;

  --prime-sys-unit-1px: 1px;
  --prime-sys-unit-1p5px: 1.5px;
  --prime-sys-unit-2px: 2px;
  --prime-sys-unit-3px: 3px;
  --prime-sys-unit-4px: 4px;
  --prime-sys-unit-8px: 8px;
  --prime-sys-unit-16px: 16px;
  --prime-sys-unit-48px: 48px;
  --prime-sys-unit-56px: 56px;
  --prime-sys-unit-120px: 120px;
  --prime-sys-unit-640px: 640px;
  --prime-sys-unit-768px: 768px;

  --prime-sys-unit-neg-1px: -1px;

  --prime-sys-unit-300ms: 300ms;
}
